{% extends 'base.html.twig' %}

{% form_theme formSite 'bootstrap_4_layout.html.twig' %}

{% block title %} BACKOFFICE | Gestion des Sites Touristiques {% endblock %}

{% block body %}

    <h2 class="text-center my-4">
    {% if editMode %}
        BACKOFFICE | Modification du Site Touristique <a href="{{ path('admin_sites_touristiques') }}" class="btn btn-info btn-sm"><i class="fas fa-reply"> Liste des Sites Touristiques</i></a>
    {% else %}
        BACKOFFICE | Poster un nouveau Site Touristique <a href="{{ path('admin_sites_touristiques') }}" class="btn btn-info btn-sm"><i class="fas fa-reply"> Liste des Sites Touristiques</i></a>
    {% endif %}
    </h2>
    <hr>

    {{ form_start(formSite, {'attr': {'class': 'col-md-7 mx-auto'} }) }}

        {{ form_row(formSite.title, { 'attr': {'placeholder': "Titre du Site"} }) }}
        {{ form_row(formSite.content|raw , { 'attr': {'placeholder': "Contenu du Site", "rows":15} }) }}
        {{ form_row(formSite.imageFile, { 'attr': {'placeholder': "Insérer une image"} }) }}
        {# .image #}
        {{ form_row(formSite.adress, { 'attr': {'placeholder': "Adress du Site"} }) }}
        {{ form_row(formSite.phone, { 'attr': {'placeholder': "Phone du Site"} }) }}
        {{ form_row(formSite.mail, { 'attr': {'placeholder': "E-mail du Site"} }) }}
        {{ form_row(formSite.contactProfessionnel, { 'attr': {'placeholder': "Nom et Prenom du contact"} }) }}
        {{ form_row(formSite.url, { 'attr': {'placeholder': "URL du Site"} }) }}
        {{ form_row(formSite.publication) }}
        {{ form_row(formSite.category) }}
        {{ form_row(formSite.user, { 'attr': {'placeholder': " "} }) }}

        <button type="submit" class="btn btn-info mb-4">
        {% if editMode %}
            Enregistrer les modifications
        {% else %}
            Ajouter l'article
        {% endif %}
        </button>

    {{ form_end(formSite) }}

{% endblock %}