{% block title %} Hello ContactMailController !{% endblock %}

{% block body %}


    <h1 class="display-4 text-center my-4"> Liste des contacts Emails</h1>

    <table class="table table-bordered text-center">
            {% for data in contacts %}
    
            <tr>
            {# on boucle sur les colonnes récupérer en BDD et renvoyé par le controller AdminContactMailController}
            {# 'colonnes' -> variables contenant le nom des colonnes de table 'Contact' qui provient du Controller}
            {# 'data' réceptionne une colonne par tour de boucle FOR #}

                                     

                    {% for data in colonnes %}
                    {% if data != 'id' %}

                    <th>{{ data}}</th>

                    {% endif %}

                {% endfor %}

                    <th>Fistname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Message</th>
                    <th>Supprimer</th>


            </tr>

                    <td>{{ data.firstname}}</td>
                    <td>{{ data.lastname|raw }}</td>
                    <td>{{ data.email|raw }}</td>
                    <td>{{ data.message|raw }}</td>
                    <td>{{ data.createAt|date("d/m/Y à H/i:s") }}</td>
                    <td>{{ data.category.title }}</td>
                    <td><a href="{{ path('admin_contact_emails', {'id': data.id} ) }}" class="btn btn-dark"><i class="fas fa-edit"></i></a></td>
                    <td><a href="" class="btn btn-danger"><i class="fas fa-trash"></i></a></td> 
            </tr>

    {% endfor %}

    </table>

    {% endblock %}