{% extends "base.html.twig" %}

{% block body %}

        
                <div class="container">
        
                     <div class="row">
                         <div class="col-lg-12 col-md-9">
                                     <h1 class="title">Contacter l'équipe d'authentikFrance</h1>
                        </div>
                    </div>
    
                    <div class="row">
                    <div class="col-lg-12 col-md-12">
                         <h5>Pour entrer en contact avec l'équipe d'authentikFrance, remplissez ce formulaire...</h5>
                       
                            <p>Si vous souhaitez communiquer sur authentikFrance, utilisez notre formulaire de contact</p>
                           
                         <img src="{{ absolute_url(asset('../image/dispositif.jpg')) }}" alt="Symfony!" />
                    </div>
                    </div>

                </div>
    
       
            <div class='container'>
    
                <p class="text-center"><strong>Vos informations de contact:</strong></p>
                            
                {{ form_start(formContact, {'attr': {'class': 'col-md-9 mx-auto'}}) }}

                    {{ form_row(formContact.firstname, {'attr': {'placeholder': "Saisir votre nom..."}}) }}

                    {{ form_row(formContact.lastname, {'attr': {'placeholder': "Saisir votre prénom..."}}) }}

                    {{ form_row(formContact.phone,{'attr': {'placeholder': "Saisir un numéro de téléphone valide..."}}) }}
                        
                    {{ form_row(formContact.email, {'attr': {'placeholder': "Saisir un email valide..."}}) }}

                    {{ form_row(formContact.message, {'attr': {'placeholder': "Votre message..."}}) }}


                    <button type="submit" class="btn btn-dark mb-5">Envoyer</button>

                {{ form_end(formContact) }}

            </div>
            
            {% for locale in locales %}
    {% if locale != app.request.locale %}
        <a href="{{ path('change_locale', {'locale': locale}) }}">{{ locale }}</a>
    {% endif %}
    
{% endfor %}


{% endblock %}




                                        
                



             
    
                
    
                   
