{% extends 'base.html.twig' %}

{% block title %}AuthentikFrance | Sites{% endblock %}

{% block body %}

<div class="dropdown mt-2 mb-4">
  <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sites Touristiques X Categorie
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    {% for data in category %}
        <a class="dropdown-item" href="{{ path('authentik_liste', {'id': data.id }) }}">{{ data.title }}</a>
    {% endfor %}
  </div>
</div>

<h5 class="mx-auto m3">Il y a {{ sites|length }} Sites Touristiques à consulter !  </h5>

<div class="row d-flex justify-content-around">

   {% for data in sites %}

        <div class="card shadow-lg p-2 mb-3 bg-#d4f3ef rounded" style="width: 15rem">

            <img src="{{ data.image }}" class="card-img-top" alt="...">

                <div class="card-body">
                    <h5 class="card-title">{{ data.title }}</h5>
                    <p class="card-text">{{ data.content|slice(0,50)|raw}}</p>
                    <a href="{{ path('authentik_show', {'id': data.id } ) }}" class="btn btn-info float-right">Voir plus de detail</a>
                </div>
        </div>

   {% endfor %}

</div>
   

{% endblock %} 