{% extends 'base.html.twig' %}

{% block title %}AuthentikFrance | Sites{% endblock %}

{% block body %}

 <h1 class="display-4 my-4 text-center">Détails</h1>

    <div class="text-center col-md-12 card mb-2 p-0">
        
        <img src="{{ site.image|replace({"200": "1000/300"}) }}" class="card-img-top" alt="{{ site.title }}">
        <div class="card-body">
            <h5 class="card-title text-center"> {{ site.title }} </h5>
            <p class="">{{ site.content|raw }}</p>
            <p class="">{{ site.adress }}</p>
            <p class="">{{ site.contactProfessionnel }}</p>
            <p class="">{{ site.phone }}</p>
            <p class="">{{ site.mail }}</p>
            <p class="">{{ site.url }}</p>
            <hr>
        </div>

    </div>

    <div class="col-md-12">

{% endblock %}