{% extends 'base.html.twig' %}

{% block title %} Gestion de mes Sites Touristiques{% endblock %}

{% block body %}

    <h3 class="display-4 text-center my-4"> Gestion de mes Sites Touristiques</h3>

    {% for message in app.flashes('success') %}

        <div class="col-md-5 mt-4 mx-auto alert alert-success text-center">
            {{ message }}
        </div>

    {% endfor %}

    <a href="{{ path('user_new_site') }}" class="btn btn-info btn-sm mb-2">Créer un nouveau Site Touristique</a>

    <table class="table table-bordered text-center">

        <tr>
        {% for data in colonnes_sites %}

            {% if data != 'id' %} 
                <th>{{ data }}</th>
            {% endif %}

        {% endfor %}
        </tr>

        {% for data in comments_sites %}

            <tr>
                {# <td class="align-middle">{{ data.id }}</td> #}
                <td class="align-middle">{{ data.title|slice(0,10)|raw }}</td>
                <td class="align-middle">{{ data.content|slice(0,30)|raw}}</td>
                <td class="align-middle">{{ data.image|raw }}</td>
                <td class="align-middle">{{ data.adress|raw }}</td>
                <td class="align-middle">{{ data.phone|raw }}</td>
                <td class="align-middle">{{ data.mail|raw }}</td>
                <td class="align-middle">{{ data.contactProfessionnel|raw }}</td>
                <td class="align-middle">{{ data.url|raw }}</td>
                <td class="align-middle">{{ data.publication|raw }}</td>

                <td class="align-middle"><a href="{{ path('user_edit_site', {'id': data.id}) }}" class="btn btn-outline-warning" onclick="return(confirm('En êtes vous certain ?'))"><i class="fas fa-pencil-alt"></i></a></td>
                <td class="align-middle"><a href="{{ path('user_delete_site', {'id': data.id}) }}" class="btn btn-outline-danger"  onclick="return(confirm('En êtes vous certain ?'))"><i class="fas fa-trash"></i></a></td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}