{% extends 'base.html.twig' %}

{% block title %}| Gestion des Sites Touristiques{% endblock %}

{% block body %}

    <h1 class="display-4 text-center my-4">
    {% if editMode %}
         Modification du Site Touristique <a href=" " class="btn btn-dark btn-sm">Retour</a>
    {% else %}
         Poster un nouveau Site Touristique <a href=" " class="btn btn-dark btn-sm">Retour</a>
    {% endif %}
    </h1>

    {{ form_start(formSite, {'attr': {'class': 'col-md-7 mx-auto'} }) }}

        {{ form_row(formSite.title, { 'attr': {'placeholder': "Titre du Site"} }) }}
        {{ form_row(formSite.content, { 'attr': {'placeholder': "Contenu de l'article", "rows": 15} }) }}
        {{ form_row(formSite.imageFile, { 'attr': {'placeholder': "URL de l'image"} }) }}
        {{ form_row(formSite.adress, { 'attr': {'placeholder': "Adress du Site"} }) }}
        {{ form_row(formSite.phone, { 'attr': {'placeholder': "Phone du Site"} }) }}
        {{ form_row(formSite.mail, { 'attr': {'placeholder': "E-mail du Site"} }) }}
        {{ form_row(formSite.contactProfessionnel, { 'attr': {'placeholder': "Nom et Prenom du contact"} }) }}
        {{ form_row(formSite.publication) }}
        {{ form_row(formSite.category) }}
        {{ form_row(formSite.user, { 'attr': {'placeholder': " "} }) }}

        <button type="submit" class="btn btn-info mb-4">
        {% if editMode %}
            Enregistrer les modifications
        {% else %}
            Ajouter l'article
        {% endif %}
        </button>

    {{ form_end(formEdit) }}

{% endblock %}